@import "task-info";
@import "task-list";

.task-wrap {
    max-width: 800px;
}


.img-icon {
    width: 12px;
    height: 12px;

    @include media-breakpoint-up(md) {
        width: 15px;
        height: 15px;
    }
}

.btn-icon {

    &:hover {
        opacity: .7;
    }

    &.btn {
        transition: opacity 0.3s ease-in-out;
    }
}
