@import "task-info";
@import "task-list";

.task-wrap {
    max-width: 800px;
}


.svg-icon {
    width: 12px;
    height: 12px;

    @include media-breakpoint-up(md) {
        width: 15px;
        height: 15px;
    }
}

.btn-icon {

    &:hover {
        color: #007bff;

        .svg-icon {
            fill: #007bff;
            transform: rotateZ(180deg);
        }
    }

    .svg-icon {
        transition: 0.3s ease-in-out;
        transition-property: fill, transform;
    }
}
