.task-info {

    &__title {
        font-size: 1rem;

        @include media-breakpoint-up(md) {
            font-size: 1.25rem;
        }
    }

    &__btn {

        font-size: 0.75rem;

        @include media-breakpoint-up(md) {
            font-size: 1rem;
        }

        .img-icon {
            width: 18px;
            height: 18px;

            @include media-breakpoint-up(md) {
                width: 24px;
                height: 24px;
            }
        }
    }
}
