.task-info {
    &__btn {


        &:hover {
            opacity: .7;
        }

        &.btn {
            transition: opacity 0.3s ease-in-out;
        }

        .img-icon {
            width: 24px;
            height: 24px;
        }
    }
}
